@import url(reset.css);
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
    --font:'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:1.7em;
    --main-cr:#eb683b;
    --secondary-cr:#009297;
    --white : #fff;
    --con-width : 1490px;
    --ttf: uppercase;
    --black : #000;
}
*{
    font-family: var(--font);
}
a{
    text-decoration: none;
}
h1,h3,p,a{
    color: black;
    line-height:var(--line-height);
}
h2{
    line-height:calc(var(--line-height)*2);
}
.ttf{
    text-transform: var(--ttf);
}

header{
    text-decoration: none;
    list-style: none;
}
body{
    font-size: var(--body-fz);
    line-height:var(--line-height);
}
.main_tt{
    font-size: 38px;
    font-weight: bold;
}
.sub_tt{
    font-size: 20px;
    font-weight: bold;
}
.content_tt{
    font-weight: bold;
}
.container{
    width: var(--con-width);
    margin:0 auto;
}
.content_sub_tt{
    font-size: var(--body-fz);
}
.white_cr{
    color: var(--white);
}
header:hover::after{
    content: '';
    display: block;
    border: 1px solid #9a9595;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}
.sub{
    padding-top: 140px;
}
.sub_img{
    display: flex;
    gap: 10px;
}
.sub_img img{
    padding-top: 20px;
}
.main_header_top{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height:130px; 
	overflow:hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.main_header_top.active{
    background:linear-gradient(white 60px, rgba(255,255,255,1) 70px);
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    height:130px; 
	overflow:hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.sub_header_top{
    background:linear-gradient(white 60px, rgba(255,255,255,1) 60px);
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    height:130px;
	overflow:hidden;
    display: block;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    transition:left 1s ease-out;
}
header nav{
    display: flex;
    position: relative;
}
header nav > ul{
    display: flex;
    gap:65px;
    justify-content: space-between;
}
header .service_menu{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
header .mc>ul>li>a{
    color: var(--white);
}
header nav> ul > li{
    position: relative;
}
header nav>ul>li ul{
    position: absolute;
    top: 85px;
    white-space:nowrap;
    text-align: center;
}
header nav>ul>li:first-child ul{
    left: -40px;
}
header nav>ul>li:nth-child(2) ul{
    left: -22px;
}
header nav ul>li a:hover {
    color: var(--secondary-cr);
}
header nav> ul > li::after{
    content: '';
}
header nav>ul>li:hover::after{
    position: absolute;
    width: 84px;
    height: 7px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    background: var(--secondary-cr);
}
header nav> ul > li:hover ul{
    background: var(--white);
}
.mc .color1,.color1{
    color: var(--main-cr);
}
.color2{
    color: var(--secondary-cr);
}
.main_footer::before{
    content: '';
    clear: both;
    display: block;
    border: 1px solid #ebebeb;
    margin: var(--line-height);
}
.main_footer .footer_top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 76px;
}
.main_footer .footer_top .container .footmenu{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.main_footer .footer_bottom .container{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.main_footer .footer_md{
    display: flex;
    align-items: center;
    gap: 30px;
}

.sub .sub_banner{
    text-align: center;
    padding-top:258px;
    animation:fadein .8s forwards;
}
@keyframes fadein{
    from{opacity: 0; transform: translateY(50px);}
    to{opacity: 1;transform: translateY(0);}
}  
.sub_story .sub_banner p{
    padding-top: var(--line-height);
}
.sprite{
    display: block;
    background: url(../image/sprite.png)no-repeat;
    text-indent: -9999em;
}

.btn{
    border: 1px solid #000;
    border-radius: 2px;
    padding: 0 20px;
}
.basic{
    background: var(--main-cr);
    color: var(--white);
}
.btn:hover{
    background: var(--main-cr);
    color: var(--white);
}