@import url(common.css);
.color2{
    color: var(--secondary-cr);
}
.main_slide{
    height: 100vh;
    overflow: hidden;
}
.slide_container{
    transition:left 0.4s ease-out;
}
.sub_menu{
    z-index: 1;
}
.full_video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    z-index:-1;
}
.full_video::after video{
    content:'';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.main_slide .controls{
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform:translateX(-50%);
}
.main_slide .pager{
    display: flex;
    gap: 15px;
}
.pager a{
    width: 8px;
    height: 8px;
    background: #009297;
    border-radius:50%;
    text-indent: -9999em;
    border:2px solid transparent;
}
.pager a:nth-child(1){
    border:2px solid var(--secondary-cr);
    background: none;
}
.counters{
    text-align: center;
}
.counters .counters_list{
    display: flex;
    justify-content: space-between;
    padding-top:calc(var(--line-height)*2);
}
.project_list {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    gap: 500px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.arrow{
    background: url(../image/main/arrow-right-long.png) no-repeat;
    width: 88px;
    height: 14px;
    margin: 0 auto;
}
.project p.arrow:hover{
    transform: scaleY(1.1)translate(8px,0);
    transition: .4s;
}
.sprite{
    width: 238px;
    height: 51px;
}
.project_list .project{
    position: relative;
    text-align: center;
}
.project_list .project p{
    margin-top: 27px;
}
.project_list ul li:nth-last-child(-n+4){
    display: none;
}
.project_list .pj_wrapper{
    display: flex;
}
.pj_img ul{
    display: flex;
}
.middle_slide{
    position: relative;
    height: 100vh;
}
.slide_wrapper{
    overflow: hidden;
    position: relative;
}
.mdslide li{
    width: 100%;
    height: 100%;
    position: absolute;
}

.mdsldie1{
    background: url(/image/main/banner1.jpg) no-repeat center/cover;

}
.mdsldie2{
    background: url(/image/main/banner2.jpg) no-repeat center/cover;

}
.mdsldie3{
    background: url(/image/main/banner3.jpg) no-repeat center/cover;

}
.middle_slide .pj_controls{
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform:translateX(-50%);
   display: flex;
}
.middle_slide .pj_pager{
    display: flex;
    justify-content: space-between;
    gap: 586px;
}
.pj_pager a{
    width: 50px;
    height: 50px;
    background: none;
    border-radius:50%;
    text-indent: -9999em;
    border:5px solid #fff;
}
.pj_pager a::after{
    content: '';
    display: block;
    border:2px dashed #fff ;
    padding-left: 580px;
    margin-top: -5px;
    margin-left: 55px;
}
.pj_pager a:last-child::after{
    display: none;
}
.brand_content .container .bc_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand_content h2{
    text-align: center;
    padding:var(--line-height);
}
.brand_content p{
    text-align: center;
}
.brand_content .container .bc_list div img{
    transition: all 0.2s linear;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.brand_content .container .bc_list div:hover img{
    transform: scale(1.1);
}
.brand_content .container .bc_list div{
    border-radius: 50%;
}
.brand_content .container .bc_list div:hover p{
    color: var(--secondary-cr);
}
.brand_content .container .bc_list div p:nth-of-type(1){
    padding-top: 27px;
}
.side_menu{
    padding-top:calc(var(--line-height)*2); 
}
.side_menu .container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.side_menu .container .sb_title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}
.side_menu .container .sb_title h2{
    position: relative;
}
.side_menu .material-symbols-outlined{
   margin-top: 50px;
}
.side_menu .stock_img div .material-symbols-outlined{
   margin-top: 12px;
   margin-left: 35px;
}
.side_menu .stock_day div p{
    padding-left: 20px;
}
.side_menu .material-symbols-outlined:hover{
    color: var(--secondary-cr);
}
.side_menu .container .news li,.side_menu .container .recruit li{
    border-bottom: 1px solid #000;
    padding: var(--line-height) 0;
}
.side_menu .container .news li a:hover, .side_menu .container .recruit li a:hover{
    color: #9a9595;
}
.side_menu .stock_img{
    width: 478px;
    height: 323px;
    background: url(/image/main/stock_bg.png) no-repeat;
}
.stock_day .stock_img div{
    display: flex;
    gap: 20px;
    position: relative;
}
.stock_day .stock_img div .material-symbols-outlined{
    position: absolute;
    top: -10px;
    left: 120px;
    color: var(--secondary-cr);
}

/*----------------story--------------*/

/*----------------------stock------------------------*/

/*----------------------recruit ------------------------*/
