@import url(common.css);
.color2{
    color: var(--secondary-cr);
}
.main_slide{
    height: 100vh;
    overflow: hidden;
}
.slide_container{
    transition:left 0.4s ease-out;
}
.full_video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    z-index:-1;
}
.full_video::after video{
    content:'';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.main_slide .controls{
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform:translateX(-50%);
}
.main_slide .pager{
    display: flex;
    gap: 15px;
}
.pager a{
    width: 8px;
    height: 8px;
    background: #009297;
    border-radius:50%;
    text-indent: -9999em;
    border:2px solid transparent;
}
.pager a:nth-child(1){
    border:2px solid var(--secondary-cr);
    background: none;
}
.counters{
    text-align: center;
}
.counters .counters_list{
    display: flex;
    justify-content: space-between;
    padding-top:calc(var(--line-height)*2);
}
.project_slide{
    padding-top:calc(var(--line-height)*2);
    position: relative;
    white-space: nowrap;
}
.project_slide h3{
    padding-top:var(--line-height);
}
.project_slide .arrow{
    background: url(/image/main/arrow-right-long.png) no-repeat;
    height: 51px;
}
.project_slide .sprite{
    background: url(/image/sprite.png) no-repeat;
    height: 51px;
}
.pj_wrapper{
    position: relative;
    display: flex;
    gap: 300px;
    align-items: center;
    overflow: hidden;
}
.pj_wrapper ul{
    display: flex;
}
.pj_img ul{
    display: flex;
    width: 100%;
}
.middle_slide{
    position: relative;
    height: 100vh;
}
.slide_wrapper{
    overflow: hidden;
    position: relative;
}
.mdslide li{
    width: 100%;
    height: 100%;
    position: absolute;
}
.mdsldie1{
    background: url(/image/main/banner1.jpg) no-repeat center/cover;

}
.mdsldie2{
    background: url(/image/main/banner2.jpg) no-repeat center/cover;

}
.mdsldie3{
    background: url(/image/main/banner3.jpg) no-repeat center/cover;

}
.middle_slide .pj_controls{
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform:translateX(-50%);
   display: flex;
}
.middle_slide .pj_pager{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.pj_pager a{
    width: 8px;
    height: 8px;
    background: #009297;
    border-radius:50%;
    text-indent: -9999em;
    border:2px solid transparent;
}
.brand_content .container .bc_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand_content h2{
    text-align: center;
    padding:var(--line-height);
}
.brand_content p{
    text-align: center;
}
.brand_content .container .bc_list div img{
    transition: all 0.2s linear;
}
.brand_content .container .bc_list div:hover img{
    transform: scale(1.1);
}
.brand_content .container .bc_list div{
    width:350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}
.brand_content .container .bc_list div > p{
    overflow: inherit 
}

.side_menu{
    padding-top:calc(var(--line-height)*2); 
}
.side_menu .container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.side_menu .container .sb_title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    padding-bottom: var(--line-height);
}
.side_menu .container .sb_title h2{
    position: relative;
}
.side_menu .material-symbols-outlined{
    padding: 13.2px 0;
}
.side_menu .material-symbols-outlined:hover{
    color: var(--secondary-cr);
}

.side_menu .container .news li,.side_menu .container .recruit li{
    border-bottom: 1px solid #000;
    padding: var(--line-height) 0;
}
.side_menu .container .news li a:hover, .side_menu .container .recruit li a:hover{
    font-weight: bold;
}

.side_menu .stock_img{
    width: 478px;
    height: 323px;
    background: url(/image/main/stock_bg.png) no-repeat;
}
.stock_day .stock_img div{
    display: flex;
    gap: 20px;
    position: relative;
}
.stock_day .stock_img div .material-symbols-outlined{
    position: absolute;
    top: -10px;
    left: 120px;
    color: var(--secondary-cr);
}

/*-------------------*/
.story_banner{
    background: url(../image/story/story_Banner.jpg) no-repeat;
    height: 670px;
}
.news h2{
    text-align: center;
    padding: var(--line-height);
}
.news h3{
    padding: var(--line-height);
}
.news .news_list ul li{
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--line-height);
}
.news .news_list ul .list2,.news .news_list ul .list4{
    flex-direction:row-reverse;
}
.modal_video h2{
    text-align: center;
    padding: var(--line-height);
}
.modal_video .video_list ul{
    display: flex;
    text-align: center;
    overflow: hidden;
    gap: 28.6px;
}
.video_wrapper{
    display: none;
}
.modal_video .controls{
    display: flex;
    justify-content: center;
    gap: 28.6px;
}
.modal_video .controls span{
    width: 26px;
    height: 26px;
}
.modal_video .controls .next{
    background-position-x: 100%;
}
.modal_video .controls .prev{
    background-position-x: -245px;
}
.modal_video .controls .next:hover{
    background-position-y: 100%;
}
.modal_video .controls .prev:hover{
    background-position-y: 100%;
}
.map .map_api{
    background: url(../image/story/map.png);
    width: 729px;
    height: 420px;
}
.map .container{
    padding: var(--line-height);
    display: flex;
    gap: 90px;
}
.map .container table{
    width: 729px;
}
.map .container h2{
    text-align: center;
    border-bottom: 2px solid #000;
}
.map .container tr{
    white-space: nowrap;
    border-bottom: 1px solid #ebebeb;
}
.map .container th{
    text-align: center;
    width: 155px;
    color: var(--main-cr); 
    padding-top:var(--line-height); 
}
.map .container td{
    padding-bottom:var(--line-height); 
}
.stock .stock_list{
    display: flex;
    flex-wrap:wrap;
}
.stock_list .stock_accodian{
    white-space: nowrap;
    width: 477px;
    position: relative;
}
.stock_list .stock_accodian .material-symbols-outlined{
    position: absolute;
    right: 0;
    padding-top: 5px;
}
.stock_graph{
    margin: -165px 516px;
}
.stock_table_list{
    margin: -313px 1077px ;
}
.stock_stock_table{
    display: flex;
    flex-flow: row wrap;
    gap: 22px;
    flex-flow: row wrap
}
.stock_number{
    margin: 136px -170px;
}
.stock_number table,.stock_graph table{
    width: 547px;
}
.stock_number thead th,.stock_graph thead th{
    border-top: 2px solid #000;
    border-bottom: 1px solid #9a9595;
    background: #f2f2f2;
    padding: 20px;
}
.stock_number tbody td,.stock_graph .graph td{
    border-bottom: 1px solid #9a9595;
    text-align: center;
    padding: 20px;
}
.stock_graph .count td{
    text-align: center;
}
.stock_table_list table{
    width: 420px;
 
}
.stock_table_list table tr:first-child{
    border-top: 2px solid #000;
}
.stock_table_list table tr:last-child{
    border-bottom: 2px solid #000;
}
.stock_table_list table tr th{
    background: #f2f2f2;
    padding: 10px;
}
.stock_table_list table tr td{
   text-align: center;
   padding: 10px;
}
.stock_accodian{
    border-top: 2px solid #000;
}
.stock_accodian_list{
    border-bottom: 1px solid #9a9595;
}
/*----------------------stock------------------------*/
.stock_banner{
    background: url(../image/stock/stock_banner.png);
    height: 670px;
}
.stock h2{
    text-align: center;
}
/*----------------------recruit ------------------------*/

.recruit_banner{
    background: url(../image/recruit/recruit_banner.jpg);
    height: 670px;
}
.recruit h2,.recruit p{
    text-align: center;
}

