@media (max-width:960px){
    .container{
        width:809px;
        margin:0 auto;
    }
    .main_tt{
        font-size: 25px;
        text-transform:capitalize;
    }
    .sub_tt{
        font-size: 16px;
    }
    .content_tt{
        font-size: 12px;
    }
    header nav{
        display: none;
    }
    .main_header_top .logo{
        display: block;
        margin: 21.5 auto;

    }
    header .category_list{
        color: var(--white);
        font-size: 28px;
        display: block;
    }
    .main_header_top.sticky .category_list{
        color: var(--black);
    }
    .counters_wrap img{
        width: 170px;
    }
    .counters .counters_list{
        gap: 50px;
    }
    .project .swiper-slide{
        display: block;
    }
    .project .swiper-slide h3 {
        margin-bottom: 0;
    }
    .arrow{
        margin: 25px auto;
    }
    .sprite1 .sprite{
        margin: 0 auto 27px;
    }
    .sprite2 .sprite{
        margin: 0 auto 27px;
    }
    .sprite3 .sprite{
        margin: 0 auto 27px;
    }
    .sprite4 .sprite{
        margin: 0 auto 27px;
    }
    .sprite5 .sprite{
        margin: 0 auto 27px;
    }
    .project div img{
        width: 514px;
    }
    .main_ct{
        display: block;
    }
    .brand_content .container .bc_list{
        gap: 50px;
    }
    .brand_content .container .bc_list .bg_wrap{
        width: 250px;
        height: 250px;
    }
    .brand_content .container .bc_list .bg_wrap > img{
        width: 250px;
        height: 250px;
    }
    .side_menu .container{
        display: block;
        margin-top: 120px;
    }
    .small_img_wrap{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .small_img1{
        background: url(../image/main/small_1.png) no-repeat;
        width: 320px;
        height: 325px;
    }
    .small_img2{
        background: url(../image/main/small_2.png) no-repeat;
        width: 320px;
        height: 325px;
    }
    .small_img3{
        background: url(../image/main/small_3.png) no-repeat;
        width: 320px;
        height: 325px;
    }
    .footmenu{
        position: absolute;
        top: 100%;
    }
    .main_footer .footer_bottom {
        padding-top: 27px;
    }
    .main_footer .footer_bottom p{
        margin-left: -28px;
       
    }
    .footer_md img{
        width: 100px;
        height:60px;
    }
    .footer_logo img{
        width: 180px;
    }
    aside{
        position: fixed;
        width: 100%;
        left:-120%;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;    
        z-index:10;
        display: flex;
        flex-direction:column;
        overflow-y: auto;
    }
    button{
        background: none;
        border: none;
    }
    .active aside{
        left: 0;
    }
    body{
        position: relative;
        left:0;
        transition:0.2s ease-in;
    }
    body.active{    
        left: 100%;
        overflow: hidden;
    }
    aside{
        padding-left: 30px;
    }
    aside div{
        padding-top: 50px;
    }
    .aside_category{
        border-bottom:1px solid #F5F5F5;
    }
    .aside_category li{
        line-height: 30px;
        padding-left: 22px;
        border-bottom:1px solid #F5F5F5;
    }
    .aside_category > li{
        position: relative;
    }
    .aside_category > li span.material-symbols-outlined{
        position: absolute;
        right:10%;
        top: 3px;
        color:#9a9595;
        font-size: 22px;
        transition:0.2s;
    }
    .aside_category > li ul{
        display: none;
    }
    .aside_category > li:nth-child(1)>ul{
        display: block;
    }
    .aside_category > li.active span.material-symbols-outlined{
        transform:rotate(180deg);
    }
    .aside_category > li::before{
        content: '';
        display: block;
    }
    .aside_category > li.active::before{
        width: 5px;
        height: 30px;
        position: absolute;
        left: -5px;
        background: var(--secondary-cr);
    }
    .aside_category>li.active>a{
        color: var(--secondary-cr);
    }
}
@media (max-width:670px){

}