@import url(common.css);
.stock_banner{
    background: url(../image/stock/stock_banner.png);
    height: 670px;
}
.stock h2{
    text-align: center;
}
.stock .stock_list{
    display: flex;
    flex-wrap:wrap;
    position: relative;
}

.stock_list .stock_accodian{
    white-space: nowrap;
    width: 450px;
    position: relative;
}
.stock_list .stock_accodian .material-symbols-outlined.add{
    position: absolute;
    right: 0;
    padding-top: 5px;
}
 .stock_title .material-symbols-outlined.remove{
    position: absolute;
    right: 0;
    margin-top: -28px;
    display: none;
}
.stock_accodian_list{
    display: none;
}
.stock_title{
    border-bottom:1px solid #9a9595;
	transition:0.35s;
    padding: 15px 0;
}
.stock_title.ui-state-active .material-symbols-outlined{
    display: none;
}
.stock_title.ui-state-active .material-symbols-outlined.remove{
    display: block;
}
.standard{
    position: absolute;
    left:500px;
}
.standard .material-symbols-outlined{
    position: absolute;
}
.standard span.first{
    position: absolute;
    padding-top: 15px;
}
.standard span.third,.standard span.second{
    padding-left: 95px;
}
.stock{
    height: 100vh;
}
.stock{
    margin-top: 150px;
}
.stock_list{
    display: flex;
    gap: 22px;
}
.stock_wraper{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.stock_stock_table{
    display: flex;
    gap: 22px;
    margin-top: 100px;
}
.stock_number table,.stock_graph table{
    width: 480px;
}
.stock_number thead th,.stock_graph thead th{
    border-top: 2px solid #000;
    border-bottom: 1px solid #9a9595;
    background: #f2f2f2;
    padding: 20px 0;
}
.stock_number tbody td{
    border-bottom: 1px solid #9a9595;
    text-align: center;
    padding: 20px;
}

.stock_table_list table{
    width: 420px;
}
.stock_table_list table tr:first-child{
    border-top: 2px solid #000;
}
.stock_table_list table tr:last-child{
    border-bottom: 2px solid #000;
}
.stock_table_list table tr th{
    background: #f2f2f2;
    border-bottom: 1px solid #9a9595;
    padding: 20px 30px;
    white-space: nowrap;
}
.stock_table_list table tr td{
   text-align: center;
   border-bottom: 1px solid #9a9595;
   padding: 20px 10px;
}
.stock_accodian{
    border-top: 2px solid #000;
}
.stock_accodian_list{
    border-bottom: 1px solid #9a9595;
}
.stock_accodian_list p{
    padding: 10px;
}
.stock_graph .count td{
    position: relative;
    padding-top: 230px;
    text-align: center;
}
.stock_graph .material-symbols-outlined{
    position: absolute;
    right:140px;
    top: 260px;
}
#myChart{
    position: absolute;
    top: 55px;
    border-bottom: 1px solid #9a9595;
} 
@media (max-width:960px){
    .stock{
        height: 100%;
        margin-top: 50px;
    }
    .stock_list .stock_accodian{
        width: 300px;
    }
    .standard{
        left: 320px;
    }
    .standard span.third,.standard span.second{
        padding-left: 150px;
    }
    .standard .first .material-symbols-outlined{
        top: 22px;
    }
    .standard span.second .material-symbols-outlined{
        top: 35px;
    }
    .stock_stock_table{
        display: flex;
        flex-direction: column;
    }
    canvas{
        height:200px !important;
    }
    .stock_graph .count td {
        padding-top: 180px;
    }
    .stock_graph .material-symbols-outlined {
        top: 210px;
        left: 20px;
    }
}