@import url(common.css);
.story_banner{
    background: url(../image/story/story_Banner.jpg) no-repeat;
    height: 670px;
}
.news h2{
    text-align: center;
}
.news h3{
    padding: var(--line-height);
}
.news .news_list ul li{
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--line-height);
}
.news .news_list ul .list2,.news .news_list ul .list4{
    flex-direction:row-reverse;
}
.modal_video h2{
    text-align: center;
}
.video_list{
    padding-bottom:calc(var(--line-height)*2) ;
}
.video_control span{
    top: 350px;
    width: 26px;
    height: 26px;
}
.video_wrapper{
    position: fixed;
    left: 0;right: 0;bottom: 0;top: 0;
    background: rgba(0,0,0,.5);
    z-index:10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition:0.3s;
}
.video_wrapper.active{
    opacity: 1;
    visibility: visible;
}
.map{
    padding-top: calc(var(--line-height)*2);
}
#map{
    width:729px;
    height:420px;
}
.map .container{
    padding: var(--line-height);
    display: flex;
    gap: 90px;
}
.map .container table{
    width: 729px;
}
.map .container h2{
    text-align: center;
    border-bottom: 2px solid #000;
}
.map .container tr{
    white-space: nowrap;
    border-bottom: 1px solid #ebebeb;
}
.map .container th{
    text-align: center;
    width: 155px;
    color: var(--main-cr); 
    padding-top:var(--line-height); 
}
.map .container td{
    padding-bottom:var(--line-height); 
}
.news_slide{
    display: none;
}
/*----------------반응형--------------------*/
@media (max-width:960px){
    .story_banner {
        height: 600px;
    }
    .news_list{
        display: none;
    }
    .news_slide{
        display: block;
        text-align: center;
        padding-bottom: 80px;
    }
    .news_slide h3{
        text-align: center;
    }
    .news_slide .swiper-slide li{
        text-align: left;
        margin: 0 20px;
    }
    .news_slide img{
        width: 400px;
    }
    .news_controls span{
        width: 26px;
        height: 26px;
        top: 600px;
    }
    .news_controls .next{
        right: 46%;
    }
    .news_controls .prev{
        left: 46%;
    }
    .video_list img{
        width: 200px;
    }
    .video_list.swiper {
        width: 100%;
    }
    .video_list.swiper-slide {
        text-align: center;
    }
    .video_control span{
        width: 26px;
        height: 26px;
        top: 250px;
    }
    .video_control .next{
        right: 46%;
    }
    .video_control .prev{
        left: 46%;
    }
    .map .container{
        flex-direction: column-reverse;
    }
}
@media (max-width:670px){
    .story_banner {
        height: 450px;
    }
    .news_controls span{
        width: 26px;
        height: 26px;
        top: 680px;
    }
    .news_slide img{
        width: 510px;
    }
    .news_controls .next{
        right: 43%;
    }
    .news_controls .prev{
        left: 43%;
    }
    .news_slide .swiper-slide li{
        margin: 0 50px;
    }
    .video_list.swiper {
        text-align: center;
    }
    .video_control span{
        width: 26px;
        height: 26px;
        top: 280px;
    }
    .video_control .next{
        right: 44%;
    }
    .video_control .prev{
        left: 44%;
    }
    .video_list img{
        width: 250px;
    }
    .map .container tr{
        width: 504px;
    }
    #map{
        width:504px;
        height:420px;
    }
    .map .container table {
        width: 504px;
    }
}
